
<body>
    <div class="container">
        <h1 class="brand" style="text-decoration: none;font-family:fantasy;"><span>Welcome to the world of content</span></h1>
        <div class="wrapper animated bounceInLeft">
          <div class="company-info">
            <h3>O-S Content Management Platform</h3>
            <ul>
              <li><i class="fa fa-book"></i> Read</li>
              <li><i class="far fa-edit"></i> Compose</li>
              <li><i class="fas fa-newspaper"></i> Publish </li>
            </ul>
          </div>
</body>
